div {
    background-color: #FC766A;
    padding: 10px;
    border: 1px solid #783937;
    margin: 10px;
    font-family: Arial;
    font-size: 16px;
    color: #333;
}

body {
	background-color: #783937;
}

header {
	font-size: 32px;
	text-align: center;
}

#menu {
    background-color: #F1AC88;
    overflow : hidden;
}

#menu a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#menu a:hover {
	background-color: #FC766A;
}

#menu a.active {
	background-color: #FC766A;
}


#james-naismith-img {
    width: 400px;
    height: auto;
}

#First-Basketball-img, #pilka {
    margin: 10px;
    width: 200px;
    height: auto;

}

#szkic-img {
    margin: -50px 10px 10px 10px;
    width: 300px;
    height: auto;
    float: right;
}

#mecz {
	margin: 10px;
    width: 600px;
    height: auto; 
	text-align: center;
}

#court {
	margin: 10px;
    width: 300px;
    height: auto;
	float: right;
	clear: both;
	position: absolute; 
    top: 1600px; 
    left: 1500px; 
}

#flaga {
	float:right;
}

#team {
	margin: 10px;
	width: 1100px;
	height: auto;
}

#jersey {
	margin:10px;
	width:400px;
	height: auto;
}

#pozycje {
	margin: 10px;
	max-width: 100%;
	width: 700px;
	height: auto;	
}

#koperta {
	max-width: 100%;
	max-height:100%;
	width: 100px;
	height: auto;
	float:right;
}

h1 {
	text-align: center;
	}
	
#clock-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #783937;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 16px;
}

#witaj {
    position: absolute;
    top: 50px; 
    right: 200px; 
    padding: 10px;
	text-align: right;
	background-color: #783937;
}
	
#witaj a{
	color: white;
}


table img {
    max-width: 100px;
    max-height: 100px;
}
